
[Desktop Entry]
Name=RTL-SDR FM Player
Comment=FM radio player
Icon=/home/pi/rtl_sdr_fm_player/desktop_icon.png
Exec=sudo python3 /home/pi/rtl_sdr_fm_player/player.py
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;